/* 1 */
body {
    background: #B4B4B4 url(../img/pink-flowers.webp) center/cover;
    background-size: 10%;
    background-attachment: fixed;
    font-family: 'Roboto', Arial, sans-serif;
}

/* 1 */
.wrapper {
    width: 88%;
    padding: 0px 50px;
    margin: 0 auto;
    margin-bottom: 26px;
    background-color: #fff;
}

/* 1 */
p {
    padding: 2px 0;
}

/* 10 */
.header {
    margin: 0 0 57px 0;
}

/* 10 */
.header__heading {
    margin: 0 0 46px 0;
    font-size: 2rem;
    color: #A11414;
}

/* 10 */
.header__img-wrap {
    border: 1px solid black;
    border-radius: 2px;
}

/* 10 */
.header__img__item {
    width: 100%;
    padding: 14px 13px;
}

/* 10 */
.section {
    display: flex;
}

/* 10 */
.article--mod {
    margin: 0 3px 0 0;
}

/* 10 */
.section--mod {
    padding: 31px 0 35px;
}

/* 10 */
.article__heading {
    margin: 0 0 15px 0;
    font-size: 1.5rem;
    color: #A11414;
}

/* 10 */
.article__item {
    line-height: normal;
    text-indent: 2.5rem;
}

/* 10 */
.menu {
    padding: 26px 93px 29px 29px;
    font-family: 'Arial', sans-serif;
    background-color: #D7D7D7;
    border-radius: 2px 15px;
}

/* 10 */
.menu__heading {
    padding: 0 0 24px 0;
}

/* 10 */
.menu__link {
    text-decoration: none;
    color: black;
}

/* 20 */
.menu__link:hover {
    font-weight: 700;
    text-decoration: underline;
    color: #A11414;
}

/* 10 */
.footer {
    width: 85%;
    padding-bottom: 18px;
}

/* 10 */
.footer__line {
    background: center/100% url(../img/footer__item.jpg);
}

/* 10 */
.footer__item {
    text-align: center;
    padding: 7px 0 6px;
    background-color: #fff;
}

/* 10 */
.text__item--spec {
    text-transform: uppercase;
}

/* 10 */
.text__item--mod {
    font-weight: 700;
}

/* 10 */
.text__item--add {
    color: #A11414;
}

/* 10 */
.text__item--alt {
    text-decoration: line-through;
}